<!DOCTYPE html>
<!--[if IE]>
<html class="sorry" lang="<%= config.language %>">
<![endif]-->
<!--[if !IE]><!-->
<html class="you-cool" lang="<%= config.language %>">
<!--<![endif]-->
<head>
  <%- partial('_partial/head') %>
</head>
<body>

<div hidden><%- inline_svg('svg/sprite.svg') %></div>

<%- body %>

<%- partial('_partial/footer') %>

<%- js('js/main') %>

</body>
</html>
