<article class="article <%= post.featured_image ? 'article--img' : '' %>"
         data-components="ProgressBar">
  <% if (post.featured_image) { %>
    <div class="container">
      <img src="<%= post.featured_image %>" alt="<%= post.title %>">
    </div>
  <% } %>
  <h1><%= post.title %></h1>
  <%- post.content %>
  <section class="share">
    <p><%= _p('Share') %></p>
    <% for (var socialMedia in theme.share ) { %>
      <%- partial('share/' + theme.share[socialMedia]) %>
    <% } %>
  </section>
</article>
