<article class="article <%= post.featured_image ? "" : "article--noImg"%>">
  <% if (post.featured_image) { %>
    <img src="<%= post.featured_image %>" alt="<%= post.title %>">
  <% } %>
  <h1><%= post.title %></h1>
  <%- post.content %>
  <section class="share">
    <p><%= _p('Share') %></p>
    <% for (var socialMedia in theme.share ) { %>
      <%- partial('share/' + theme.share[socialMedia]) %>
    <% } %>
  </section>
</article>
