<article class="article <%= page.featured_image ? 'article--img' : '' %>"
         data-components="ProgressBar">
  <% if (page.featured_image) { %>
    <div class="container">
      <img src="<%= page.featured_image %>" alt="<%= page.title %>">
    </div>
  <% } %>
  <h1><%= page.title %></h1>
  <%- page.content %>
  <% if (!page.disable_sharing) { %>
    <section class="share">
      <p><%= _p('Share') %></p>
      <% for (var socialMedia in theme.share ) { %>
        <%- partial('share/' + theme.share[socialMedia]) %>
      <% } %>
    </section>
  <% } %>
</article>
