<%
var title = page.title || config.title + " | " + config.subtitle,
  description = page.excerpt ? strip_html(page.excerpt) : config.description,
  url = page.permalink || config.url,
  keywords = strip_html(list_tags({
    style: "keywords",
    separator: ",",
    show_count: false
  })),
  image = page.featured_image ? url + page.featured_image : gravatar(config.email, 200);
%>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

<!-- Place this data between the <head> tags of your website -->
<title><%= title %></title>
<meta name="description" content="<%= description %>" />
<meta name="keywords" content="<%= keywords %>">
<meta name="author" content="<%= config.author %>">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@ikertxu">
<meta name="twitter:title" content="<%= title %>">
<meta name="twitter:description" content="<%= description %>">
<meta name="twitter:creator" content="@ikertxu">
<meta name="twitter:image:src" content="<%= image %>">

<!-- Open Graph data -->
<meta property="og:title" content="<%= title %>" />
<meta property="og:type" content="article" />
<meta property="og:url" content="<%= url %>" />
<meta property="og:image" content="<%= image %>" />
<meta property="og:description" content="<%= description %>" />
<meta property="og:site_name" content="<%= config.title %>" />
<meta property="article:published_time" content="<%= date_xml(page.date) %>" />
<meta property="article:modified_time" content="<%= date_xml(page.updated) %>" />
<meta property="article:tag" content="<%= keywords %>" />
<meta property="fb:admins" content="1682575542" />

<link rel="shortcut icon" href="<%= gravatar(config.email) %>">
<link rel="apple-touch-icon" href="<%= gravatar(config.email) %>">

<link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab:400,700" rel="stylesheet">

<script>
  (function(i,k,e,r,t,x,u){i['GoogleAnalyticsObject']=t;i[t]=i[t]||function(){
    (i[t].q=i[t].q||[]).push(arguments)},i[t].l=1*new Date();x=k.createElement(e),
    u=k.getElementsByTagName(e)[0];x.async=1;x.src=r;u.parentNode.insertBefore(x,u)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76767934-1', 'auto');
  ga('send', 'pageview', '<%= path %>');
</script>

<%- css('css/main') %>
