<header class="homeheader">
  <a class="homeheader__gravatar" href="<%- url_for('/') %>">
    <img src="<%= gravatar(config.email, 200) %>" alt="<%= config.author %>">
  </a>
  <div class="homeheader__info">
    <h1><a href="<%- url_for('/') %>"><%= config.title %></a></h1>
    <h2><a href="<%- url_for('/') %>"><%= config.subtitle %></a></h2>
  </div>
</header>
