<header class="homeheader">
  <div class="homeheader__info">
    <div class="homeheader__gravatar" href="<%- url_for('/') %>">
      <img src="<%= gravatar(config.email, 200) %>" alt="<%= config.author %>">
    </div>
    <h1><%= config.title %></h1>
    <h2><%= config.subtitle %></h2>
  </div>
</header>
