<nav class="mainnav <%= is_home() ? 'mainnav--home' : '' %>">
  <ul class="mainnav__list container">
    <% for (var icon in theme.menu) { %>
      <% if (!is_home() || icon !== 'home') { %>
        <li class="mainnav__item">
          <a class="mainnav__link" href="<%- url_for(theme.menu[icon]) %>" title="<%= _p(icon) %>">
            <%- partial('_partial/svg', { id: icon }) %>
            <span><%= _p(icon) %></span>
          </a>
        </li>
      <% } %>
    <% } %>
    <% site.pages.each(function(pageObj){ %>
      <li class="mainnav__item">
        <a class="mainnav__link" href="<%- url_for(pageObj.path) %>" title="<%= pageObj.title %>">
          <%- partial('_partial/svg', { id: pageObj.icon }) %>
          <span><%= pageObj.title %></span>
        </a>
      </li>
    <% }) %>
    <% if (theme.show_search) { %>
      <li class="mainnav__item mainnav__item--search"
          data-components="SearchBar">
        <%- search_form({ text: _p('search'), button: true }) %>
      </li>
    <% } %>
  </ul>
  <div class="mainnav__search" hidden>
    <%- search_form() %>
  </div>
</nav>
