<section class="paginator container">
  <% if (page.prev) { %>
    <a href="<%= url_for(page.prev_link) %>" title="<%= _p('Prev page') %>">
      <%- partial('_partial/svg', { id: 'angle-left' }) %>
    </a>
  <% } %>
  <% if (page.prev || page.next) { %>
    <span>Page <%= page.current %> of <%= page.total %></span>
  <% } %>
  <% if (page.next) { %>
    <a href="<%= url_for(page.next_link) %>" title="<%= _p('Next page') %>">
      <%- partial('_partial/svg', { id: 'angle-right' }) %>
    </a>
  <% } %>
</section>
